#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  min-height: 88vh;
}

.logo {
  height: 5em;
  margin-top: 1em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo_app {
  height: 5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  align-self: center;
}
.logo_app:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo_app.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.buy_coo_image {
  width: 93%;
  border-radius: 10px;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
