#root {
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  min-height: 88vh;
  width: 100%;
}

.logo {
  height: 3em;
  /* margin-top: 1em; */
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.05);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(1.05);
}

.logo_app {
  height: 3em;
  /* padding-left: 1.5em;
  padding-right: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  align-self: center;
}

.logo_app:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.05);
}

.logo_app.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(1.05);
}

.logo_text {
  font-size: 0.8em;
  /* color: var(--text-color-light); */
}

.logo_group {
  cursor: pointer;
}

/* .buy_logo {
  border-radius: 50%;
  align-self: center;
  height: 10em;
}

.buy_logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.05);
}

.buy_logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(1.05);
} */

.card {
  padding: 0.68em;
}

.read-the-docs {
  color: #888;
}

.row_center {
  padding-top: 1.2em;
  display: flex;
  justify-content: space-evenly;
}

@media (prefers-color-scheme: dark) {
  .logo_text {
      color: white; /* Светлый цвет текста */
  }
}

@media (prefers-color-scheme: light) {
  .logo_text {
      color: black; /* Светлый цвет текста */
  }
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */